/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
.post-edit-link {
	display:none;	
}

html {
	font-family: raleway, sans-serif;
	font-size: 10px;
}

#header {
	position:relative;
	z-index: 9000;	
	xxheight: 30rem;
}

#header h1 {
	margin: 0;	
}

.clearboth {
	clear: both;	
}

#header h1.entry-connection {
	margin-bottom: 1rem;	
}

#wrapper {
	position:relative;	
}

#opgrey {
	position:absolute;	
	z-index: 10;
	width: 100%;
	height: 5rem;
	background: rgba(0,0,0,0.5);
}

p, li, h5, .table {
	font-size: 1.6rem;	
}

p, h5, .table {
	line-height: 1.5;	
}

a, a:hover {
	text-decoration:none;	
}

#site-title {
	position:absolute;	
	background: black;
}

#site-title img {
	width: 196px;	
}

.yellowbg {
	background: #efb103;
}

h1 {
	font-size: 3rem;	
	font-weight: normal;
}

h1 a {
	color: black;	
}

.propertyheader {
	margin-bottom: 3rem;	
}

.type-page .propertyheader {
	margin-bottom: 1rem;	
}

.propertyheader h1 {
	margin-bottom: 0;	
	margin-top:1rem;	
	color: white;
}

.propertyheader h1.entry-title{
	margin-bottom: 1rem;	
	margin-top:1rem;	
	padding: 1rem 0;
}

.propertyheader h2 {
    margin-top: 0.666rem;
    font-size: 2rem;
    font-weight: 400;
    color: black;
    margin: 0.5rem 0 1.5rem;
}

#row1 img {
	display:block;
	margin: auto;
	width: 50px;	
}

#row1 p {
	text-align: center;
}

#row1 h2 {
    font-size: 2rem;
    text-align: center;	
}

#row1 h3 {
	text-align: center;
    font-size: 4rem;
    margin: 0;	
}

#row2 h2, #row3 h2, #row4 h2 {
	font-size: 3rem;
	font-weight: normal;	
}

.rowbox {
    padding: 2rem 1rem;
    border: 1px solid #ccc;
	margin: 0 0rem 3rem;
}

#row2 {
	margin-bottom: 3rem;	
}

#row3 iframe {
    padding: 1rem;
    border: 1px solid #ccc;	
}

#enquire {
	margin-top: 2rem;
}

#enquire li {
    font-size: 2rem;
    display: inline-block;
    list-style-type: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 1px solid white;
    margin: 0 0 0 2rem;
    color: white;
}

#enquire li a {
	color: white;	
}

#enquire li:hover {
	background: white;
	color: black;	
	cursor: pointer;
}

#enquire li:hover a {
	color: black;	
}


@media (max-width: 400px) {
	#fake {
		display:none;	
	}
}

#fake {
	margin-left: 21rem;
	list-style-type: none;
	position:absolute;
	padding-top: 0.6rem;
}

#fake li {
	color: white;
	font-size: 1.6rem;
	text-transform:uppercase;
	display:inline-block;
	margin-right: 7rem;	
}

#fake a {
	color: white;	
}

#fake a:hover {
	color: #efb103;	
}

#enquirerow {
	border-top: 1rem solid #efb103;	
	background: #202a33;
	padding-bottom: 3rem;	
	padding-top: 1rem;
	margin-top: 1rem;
}

#enquirerow h2 {
	color: white;
	font-size: 3rem;	
	font-weight: 400;
}

#enquirerow p {
	color: #ccc;	
}

#enquirerow .wpcf7-form{
    background: rgba(255,255,255,0.1);
}

.wpcf7-form input, .wpcf7-form textarea {
	margin-bottom: 2rem;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.wpcf7-form .wpcf7-submit {
	width: auto;
	display:block;
	margin: 0 auto;
	background: none;
	border: 1px solid white;
	border-radius: 0.5rem;	
	padding: 1rem 2rem;
}

.wpcf7-form label {
	color: white;	
}

form p {
	padding: 2rem 0 0 0;
    margin: 2rem 2rem 1rem 2rem;
}

div.wpcf7-validation-errors {
	background:white;
	margin-bottom: 1rem;	
	font-size: 1.6rem;
}

#footer {
	border-top: 1rem solid #efb103;	
	background: #000;
	height: 6rem;
}

#areatn {
	margin: 2rem 0;	
	overflow: auto;
}

#areatn img {
    height: 11rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
	border:1px solid #aaa;
	padding: 0.1rem;
}

.slidethumb, .sidebarthumb {
	border: 1px solid #ccc;
	padding: 1rem;	
	max-width: 100%;
}

.nav-next, .nav-previous {
	display:none;
}

#map img {
	max-width: 100%;	
}

#map a {
	background:url(img/worldonpng.png);
}	

h2.maph2 {
	font-size: 3rem;
    font-weight: normal;
	margin-bottom: 4rem;	
}

.personbox, .personbox2 {
	background:rgba(0,0,0,0.5);
	padding: 2rem 4rem;
	margin: -1rem 0 0 0;
}

.personbox p, .personbox a, .personbox h1, .personbox h2, .personbox2 p, .personbox2 a, .personbox2 h1, .personbox2 h2 {
	color: white !important;	
}

#person, #person2 {
	margin-top: -1rem;	
	background: no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.personbox2 {
	margin-top: 0;	
}

.engagewith {
	background: #efb103;	
}

.engagewith p, .engagewith li, .engagewith h2 {
	color: white;	
}

.engagewith h2 {
	font-size: 3rem;
    font-weight: normal;
	margin-bottom: 4rem;		
}

.engagewith textarea {
    height: 120px !important;	
}

#enquirerow h3 {
	margin: 0;
	font-size: 2rem;
	color: white;
	padding-top: 0.5rem;
}

#enquirerow h2 {
	font-size: 2.8rem;	
}

#enquirerow p.contact-linkedin {
	font-size: 1.3rem;
	padding: 0;
	margin: 1rem 0 0 0;
}	

#enquirerow p.contact-bit {
	font-size: 1.3rem;
	padding: 0;
	margin: 0;		
}

#enquirerow img.wp-post-image {
	max-width: 100px;	
	height: auto;
	float: left;
	margin: 0 2rem 2rem 0;
	border:1px solid #efb103;
}

#enquirerow a {
	color: #efb103;
}

#enquirerow a:hover {
	color: #fff;
}

#enquirerow .agent-details p{
    font-size: 1.4rem;
    color: #aaa;
}

#enquirerow .agent-details {
    margin-top: 3rem;
}


















.noUi-target{

	    background: rgba(0,0,0,.1);
    border-radius: 0px;
    border: none;
    box-shadow: none;
/*	height: 15px;*/
}

.noUi-origin{
/*	background: red;*/
}

.noUi-base{

}

#growth_slider .noUi-connect{
	    border-radius: 0;
	background: #efb103;
	    box-shadow: none;
}
#growth_slider{
	margin: 50px 0 70px 0;
}

#growth_slider .noUi-tooltip{
	border: none;
	background: none;
	padding: 0;
}

#growth_slider .noUi-handle{
    box-shadow: none;
    	border: none;
    border-radius: 0;
    background: #3d3a41;
    top: -7px;
    left: -8px;
        width: 16px;
    height:32px;

}
tr td{
	border: none !important;
}
tbody tr:nth-child(odd){
/*background: rgba(0,0,0,.1);*/
}

.newValue{
	font-weight: bold;
	text-align: right;
}

.dataBox{
	background: #efb103;
    font-size: 25px;
    color: black;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
	margin: 0 auto;
}
#fiveYearGrowth_pc{
	font-weight: bold;
	float: right;
	color: #fff;
	font-size: 25px;
}
#fiveYearGrowth{float: right;
font-weight: bold;
display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
xxcolor: #fff;
}
.financials{
	padding-bottom: 40px;
}
.number{
	text-align: right;
	
}

/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base{width:100%;height:100%;position:relative;z-index:1}.noUi-connect{position:absolute;right:0;top:0;left:0;bottom:0}.noUi-origin{position:absolute;height:0;width:0}.noUi-handle{position:relative;z-index:1}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:top .3s,right .3s,bottom .3s,left .3s;transition:top .3s,right .3s,bottom .3s,left .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-base,.noUi-handle{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connect{background:#3FB8AF;border-radius:4px;box-shadow:inset 0 0 3px rgba(51,51,51,.45);-webkit-transition:background 450ms;transition:background 450ms}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{margin-top:1rem;-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);padding-left:25px}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}