/* CSS Document */

.login form {
	background: white;
	box-shadow: 0 0 13px 3px rgba(255,255,255,0.2);	
}

body {
	background: black;
}

.login #backtoblog a, .login #nav a {
	color: yellow;	
}

.login label {
	color: black;	
}

 #login h1 a, .login h1 a {
		background-image: url(loginlogo.png);
		height:115px;
		width:320px;
		background-size: 320px 115px;
		background-repeat: no-repeat;
		margin-bottom: 30px;
}